# dependencies
/node_modules

# build outputs
/dist
/build

# misc
.DS_Store
*.log

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local


# optional caches
.cache
.parcel-cache

# yarn / npm / pnpm lockfiles (선택적으로 무시 가능)
/yarn-error.log
.pnpm-debug.log
npm-debug.log*
